# Introduction to Jupyter and Python

Python is a programming language. The Jupyter Notebook is a browser-based graphical interface to the IPython shell, and
builds on it a rich set of dynamic display capabilities. As well as executing Python statements, notebooks allow the user to include formatted text, static and dynamic visualizations, mathematical equations, and much more. Furthermore, these documents can be saved in a way that lets other people open them and execute the code on their own systems.


## Introduction to Jupyter
- Keyboard shortcuts (see Help)
- Using markdown ([basic syntax](https://www.markdownguide.org/basic-syntax/))
- Seeking help
- Magic functions ([list of magic functions](https://ipython.readthedocs.io/en/stable/interactive/magics.html))
- Save and export Jupyter Notebook

### Using markdown

Heading `#`, emphasis (bold `** **`, italic `* *`, bold + italic `* * *`), lists `-`, links `[]()` 

Equation `$ $` and `$$ $$`

Bullet Point `*`

Link `[Link Text](URL)`

Math Text (LaTeX) `$` or `$$` (for centered equation on another line)

* Example 1: $ x_1 + x_2 \ge x_3 $
* Example 2: $$ x_1 + x_2 \ge x_3 $$

### Seeking help
help `?`, access source code `??`, Tab completion of object contents `tab`

In [29]:
?len

Signature: len(obj, /)
Docstring: Return the number of items in a container.
Type:      builtin_function_or_method

In [30]:
len??

Signature: len(obj, /)
Docstring: Return the number of items in a container.
Type:      builtin_function_or_method

In [31]:
import numpy

In [32]:
numpy.random

### Magic functions
prefix by the `%` (line magic) and `%%` (cell magic)

In [33]:
%pip install numpy
# pip helps install packages(???)

Requirement already satisfied: numpy in /Users/ivynangalia/Library/Python/3.12/lib/python/site-packages (1.26.3)
Note: you may need to restart the kernel to use updated packages.

In [34]:
%timeit L = [n ** 2 for n in range(1000)]
# timeit helps see how long running a certain line takes

36.4 µs ± 902 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [35]:
%%timeit
L = []
for n in range(1000):
    L.append(n**2)

39.4 µs ± 1.16 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

### Save and export Jupyter Notebook'

E.g. download as an HTML

In [36]:
# using vscode so this doesnt matter :3

## Introduction to Python
- Data types (boolean, int, float, complex, strings, None)
- Operators (arithmetic, assignment, comparison, logical, identity, membership, bitwise)

In [37]:
True, False

(True, False)

In [38]:
x = True
print(type(x))

<class 'bool'>

In [39]:
1, 2, 3

(1, 2, 3)

In [40]:
x = 5
print(type(x))

<class 'int'>

In [41]:
x = 5.24
print(type(x))

<class 'float'>

In [42]:
x, y, z = 10, numpy.pi, False
print(x, y, z)
print(type(x), type(y), type(z))

10 3.141592653589793 False
<class 'int'> <class 'float'> <class 'bool'>

In [43]:
1j # j = complex number (i / sqrt(-1))

1j

In [44]:
# type conversion (removes other data)
y = -3.9
int(y)

-3

In [45]:
None

In [46]:
x = "hello world!"
print(x)

hello world!

In [47]:
x = "The paper says 'severe weather condition ...'"
print(x)

The paper says 'severe weather condition ...'

In [48]:
# f strings !
first_name = "Mickey"
last_name = "Mouse"
greeting = f"Hello, {first_name} {last_name}!"
print(greeting)

Hello, Mickey Mouse!

In [49]:
# f strings !
first_name = "Mickey"
last_name = "Mouse"
greeting = "Hello, " + first_name + " " + last_name + "!"
print(greeting)

Hello, Mickey Mouse!

In [50]:
name = "Hello {} {}".format(first_name, last_name)
print(name)

Hello Mickey Mouse

In [51]:
name.lower(), name.upper()

('hello mickey mouse', 'HELLO MICKEY MOUSE')

In [52]:
print("Disney characters:\nMickey Mouse\nDonald Duck")
# /n inserts a new line

Disney characters:
Mickey Mouse
Donald Duck

In [53]:
name = "Mickey Mouse      "
print(name)
name

Mickey Mouse

'Mickey Mouse      '

In [54]:
name.rstrip()

'Mickey Mouse'

### Arithmetic operators
`+`, `-`, `*`, `/`, `//`, `%`, `**`

In [55]:
1 + 2

3

In [56]:
1 - 2

-1

In [57]:
2 * 3

6

In [58]:
6 / 4

1.5

In [5]:
6 // 4
# // drops the remainder

1

In [66]:
x = -6 // 4
y = int (-6 / 4)
print(x == y)
print (x)
print(y)

False
-2
-1

In [6]:
4 ** 2

16

### Assignment operators
`=`, `+=`, `-=`, `*=`, `/=`, ...

In [67]:
a = 1
a1 = a + 1
a += 1
a == a1

True

### Comparison operators
`==`, `!=`, `<=`, `<`, `>=`, `>`

In [8]:
x = 1
y = 3
x == y

False

In [7]:
1 == 3

False

In [9]:
x <= y

True

In [59]:
x != y

True

In [69]:
1 == True

True

### Logical operators: combine conditional statements
`and`, `or`, `not`

In [71]:
2 > 1 and 1 > 0

True

In [72]:
2 > 1 or 1 < 0

True

In [73]:
not 2 > 1

False

### Identity operators: compare the objects, not if they are equal, but if they are actually the same object, with the same memory location
`is`, `is not`

In [10]:
x is not y

True

In [11]:
x = 1
y = 1.0
print(x is y, x==y)

False True

In [12]:
x = [2,3]
y = [2,3]
x == y, x is y

(True, False)

In [74]:
id(x), id(y) # id() returns the memory location of certain objects

(4355315088, 4355315120)

In [75]:
x = [2,3]
y = x
x == y, x is y

(True, True)

In [77]:
id(x) is id(y) # id() returns the memory location of certain objects

False

In [78]:
x[0] = -1
x, y

([-1, 3], [-1, 3])

### Membership operators: test if a sequence is presented in an object
`in`, `not in`

In [16]:
'a' in 'apple'

True

In [17]:
3 in [1,2,3,4,5]

True

### Bitwise operators: compare (binary) numbers
`&`, `|`, `^`

In [79]:
format(10, '08b')

'00001010'

In [80]:
format(7, '08b')

'00000111'

In [82]:
x = 10 & 7 # & = digits in common
x, format(x, '08b')

(2, '00000010')

In [83]:
x = 10 | 7 # | = an or operator, so if there's a 1 it puts a one down
x, format(x, '08b')

(15, '00001111')

In [84]:
x = 10 ^ 7 # NEED TO ADD
x, format(x, '08b')

(13, '00001101')

### Operator precedence: describe the order in which operations are performed

In [85]:
5*2**3/(4+8) - 1 # pemdas

2.3333333333333335

### More strings
1. Searching and indexing
2. Splitting and joining
3. Read and write text files

In [22]:
s = "hello world"
s

'hello world'

In [23]:
"hel" in s

True

In [24]:
"loo" in s

False

In [25]:
s.find("llo")

2

In [26]:
s.index("llo")

2

In [27]:
s.find("loo")

-1

In [28]:
s.index("loo")

ValueError: substring not found

In [ ]:
s.count("o")

2

In [ ]:
s.count("oo")

0

In [ ]:
s.split(" ")

['hello', 'world']

In [ ]:
s.split("l")

['he', '', 'o wor', 'd']

In [ ]:
'-'.join(s)

'h-e-l-l-o- -w-o-r-l-d'

In [ ]:
"-".join(s.split(" "))

'hello-world'

In [ ]:
import string

In [ ]:
s = "Python is a high-level,*./?! general-purpose programming language.*./<>"
s.translate(str.maketrans('', '', string.punctuation))

'Python is a highlevel generalpurpose programming language'

In [ ]:
%%file test.txt
Hello world! 
This is a test file. 
Good luck

Writing test.txt

In [ ]:
with open("test.txt") as f:
    for line in f:
        print(line, end='')

Hello world!
This is a test file.
Good luck

In [ ]:
with open("test.txt") as f:
    out = f.read()
out

'Hello world! \nThis is a test file. \nGood luck\n'

In [ ]:
with open("test_alt.txt", "w") as f:
    f.write(out)