# STOR 320: Introduction to Data Science
## EDA Group PLACE_GROUP_NUMBER_HERE (Ex: EDA Group 12)

## Part 1: Data cleaning, merging, and visualization (6 points)

In [119]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [120]:
eviction = pd.read_csv('eviction_2020_2024.csv')
eviction

,city,type,GEOID,racial_majority,month,filings_2020,filings_avg,last_updated,xcourtcofips
0,"Albuquerque, NM",Census Tract,35001000107,White,01/2020,8,5.333333,2024-08-10,NaN
1,"Albuquerque, NM",Census Tract,35001000107,White,02/2020,14,9.000000,2024-08-10,NaN
2,"Albuquerque, NM",Census Tract,35001000107,White,03/2020,10,5.666667,2024-08-10,NaN
3,"Albuquerque, NM",Census Tract,35001000107,White,04/2020,5,8.333333,2024-08-10,NaN
4,"Albuquerque, NM",Census Tract,35001000107,White,05/2020,0,6.666667,2024-08-10,NaN
...,...,...,...,...,...,...,...,...,...
598451,"Wilmington, DE",Census Tract,sealed,NaN,04/2024,1,7.000000,2024-08-10,NaN
598452,"Wilmington, DE",Census Tract,sealed,NaN,05/2024,9,7.250000,2024-08-10,NaN
598453,"Wilmington, DE",Census Tract,sealed,NaN,06/2024,3,4.750000,2024-08-10,NaN
598454,"Wilmington, DE",Census Tract,sealed,NaN,07/2024,5,5.500000,2024-08-10,NaN
598455,"Wilmington, DE",Census Tract,sealed,NaN,08/2024,1,1.000000,2024-08-10,NaN

In [121]:
PIT_2023 = pd.read_excel('PITCOC.xlsb', engine='pyxlsb', sheet_name="2023")
PIT_2023

,CoC Number,CoC Name,CoC Category,Count Types,Overall Homeless,Overall Homeless - Under 18,Overall Homeless - Age 18 to 24,Overall Homeless - Age 25 to 34,Overall Homeless - Age 35 to 44,Overall Homeless - Age 45 to 54,...,Overall Homeless Parenting Youth Age 18-24,Sheltered ES Homeless Parenting Youth Age 18-24,Sheltered TH Homeless Parenting Youth Age 18-24,Sheltered Total Homeless Parenting Youth Age 18-24,Unsheltered Homeless Parenting Youth Age 18-24,Overall Homeless Children of Parenting Youth,Sheltered ES Homeless Children of Parenting Youth,Sheltered TH Homeless Children of Parenting Youth,Sheltered Total Homeless Children of Parenting Youth,Unsheltered Homeless Children of Parenting Youth
0,AK-500,Anchorage CoC,Other Largely Urban CoC,Sheltered and Unsheltered Count,1760.0,185.0,161.0,377.0,419.0,315.0,...,10.0,5.0,5.0,10.0,0.0,10.0,5.0,5.0,10.0,0.0
1,AK-501,Alaska Balance of State CoC,Largely Rural CoC,Sheltered and Unsheltered Count,854.0,176.0,66.0,124.0,190.0,144.0,...,8.0,8.0,0.0,8.0,0.0,7.0,7.0,0.0,7.0,0.0
2,AL-500,"Birmingham/Jefferson, St. Clair, Shelby Counti...",Largely Suburban CoC,Sheltered and Unsheltered Count,847.0,67.0,42.0,127.0,182.0,180.0,...,2.0,1.0,1.0,2.0,0.0,2.0,1.0,1.0,2.0,0.0
3,AL-501,Mobile City & County/Baldwin County CoC,Other Largely Urban CoC,Sheltered and Unsheltered Count,670.0,110.0,19.0,78.0,156.0,120.0,...,2.0,2.0,0.0,2.0,0.0,2.0,2.0,0.0,2.0,0.0
4,AL-502,Florence/Northwest Alabama CoC,Largely Rural CoC,Sheltered and Unsheltered Count,195.0,63.0,9.0,42.0,36.0,23.0,...,4.0,2.0,0.0,2.0,2.0,4.0,2.0,0.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
384,WY-500,Wyoming Statewide CoC,Largely Rural CoC,Sheltered and Unsheltered Count,532.0,37.0,62.0,73.0,116.0,126.0,...,3.0,2.0,1.0,3.0,0.0,4.0,3.0,1.0,4.0,0.0
385,NaN,Total,NaN,NaN,653104.0,111620.0,47436.0,111002.0,119297.0,97289.0,...,7130.0,4954.0,1558.0,6512.0,618.0,8469.0,5909.0,1956.0,7865.0,604.0
386,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
387,a MO-604 covers territory in both Missouri and...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
388,* File does not contain the imputed ages for p...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [122]:
eviction

,city,type,GEOID,racial_majority,month,filings_2020,filings_avg,last_updated,xcourtcofips
0,"Albuquerque, NM",Census Tract,35001000107,White,01/2020,8,5.333333,2024-08-10,NaN
1,"Albuquerque, NM",Census Tract,35001000107,White,02/2020,14,9.000000,2024-08-10,NaN
2,"Albuquerque, NM",Census Tract,35001000107,White,03/2020,10,5.666667,2024-08-10,NaN
3,"Albuquerque, NM",Census Tract,35001000107,White,04/2020,5,8.333333,2024-08-10,NaN
4,"Albuquerque, NM",Census Tract,35001000107,White,05/2020,0,6.666667,2024-08-10,NaN
...,...,...,...,...,...,...,...,...,...
598451,"Wilmington, DE",Census Tract,sealed,NaN,04/2024,1,7.000000,2024-08-10,NaN
598452,"Wilmington, DE",Census Tract,sealed,NaN,05/2024,9,7.250000,2024-08-10,NaN
598453,"Wilmington, DE",Census Tract,sealed,NaN,06/2024,3,4.750000,2024-08-10,NaN
598454,"Wilmington, DE",Census Tract,sealed,NaN,07/2024,5,5.500000,2024-08-10,NaN
598455,"Wilmington, DE",Census Tract,sealed,NaN,08/2024,1,1.000000,2024-08-10,NaN

In [123]:
## column names check (1 point)

In [124]:
eviction.columns

Index(['city', 'type', 'GEOID', 'racial_majority', 'month', 'filings_2020',
       'filings_avg', 'last_updated', 'xcourtcofips'],
      dtype='object')

In [125]:
# remove GEOID, last_updated, and xcourtcofips because they're not useful for merging or relevant
eviction = eviction.drop(["GEOID", "last_updated", "xcourtcofips"], axis=1)
eviction.columns

Index(['city', 'type', 'racial_majority', 'month', 'filings_2020',
       'filings_avg'],
      dtype='object')

In [126]:
len(PIT_2023.columns) # len because there's a lot

645

In [127]:
new_cols = PIT_2023.columns[0:25] # columns after 25 talk about sheltered and unsheltered
PIT_sliced = PIT_2023[new_cols][0:386] # truncating rows
PIT_sliced

,CoC Number,CoC Name,CoC Category,Count Types,Overall Homeless,Overall Homeless - Under 18,Overall Homeless - Age 18 to 24,Overall Homeless - Age 25 to 34,Overall Homeless - Age 35 to 44,Overall Homeless - Age 45 to 54,...,Overall Homeless - Gender that is not Singularly Female or Male,Overall Homeless - Gender Questioning,Overall Homeless - Non-Hispanic/Non-Latin(o)(a)(x),Overall Homeless - Hispanic/Latin(o)(a)(x),Overall Homeless - White,"Overall Homeless - Black, African American, or African",Overall Homeless - Asian or Asian American,"Overall Homeless - American Indian, Alaska Native, or Indigenous",Overall Homeless - Native Hawaiian or Other Pacific Islander,Overall Homeless - Multiple Races
0,AK-500,Anchorage CoC,Other Largely Urban CoC,Sheltered and Unsheltered Count,1760.0,185.0,161.0,377.0,419.0,315.0,...,3.0,2.0,1638.0,122.0,480.0,156.0,28.0,755.0,83.0,258.0
1,AK-501,Alaska Balance of State CoC,Largely Rural CoC,Sheltered and Unsheltered Count,854.0,176.0,66.0,124.0,190.0,144.0,...,2.0,0.0,717.0,137.0,316.0,25.0,10.0,396.0,16.0,91.0
2,AL-500,"Birmingham/Jefferson, St. Clair, Shelby Counti...",Largely Suburban CoC,Sheltered and Unsheltered Count,847.0,67.0,42.0,127.0,182.0,180.0,...,1.0,0.0,822.0,25.0,295.0,518.0,1.0,14.0,2.0,17.0
3,AL-501,Mobile City & County/Baldwin County CoC,Other Largely Urban CoC,Sheltered and Unsheltered Count,670.0,110.0,19.0,78.0,156.0,120.0,...,2.0,0.0,655.0,15.0,281.0,351.0,2.0,11.0,6.0,19.0
4,AL-502,Florence/Northwest Alabama CoC,Largely Rural CoC,Sheltered and Unsheltered Count,195.0,63.0,9.0,42.0,36.0,23.0,...,0.0,0.0,186.0,9.0,130.0,48.0,0.0,2.0,0.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,WV-501,"Huntington/Cabell, Wayne Counties CoC",Largely Rural CoC,Sheltered and Unsheltered Count,244.0,18.0,19.0,51.0,72.0,53.0,...,0.0,0.0,238.0,6.0,206.0,19.0,2.0,3.0,1.0,13.0
382,WV-503,"Charleston/Kanawha, Putnam, Boone, Clay Counti...",Largely Suburban CoC,Sheltered and Unsheltered Count,293.0,20.0,40.0,53.0,66.0,72.0,...,0.0,0.0,292.0,1.0,230.0,42.0,0.0,0.0,0.0,21.0
383,WV-508,West Virginia Balance of State CoC,Largely Rural CoC,Sheltered and Unsheltered Count,766.0,50.0,74.0,168.0,209.0,148.0,...,5.0,4.0,750.0,16.0,691.0,59.0,0.0,4.0,1.0,11.0
384,WY-500,Wyoming Statewide CoC,Largely Rural CoC,Sheltered and Unsheltered Count,532.0,37.0,62.0,73.0,116.0,126.0,...,1.0,1.0,462.0,70.0,419.0,47.0,14.0,22.0,2.0,28.0
385,NaN,Total,NaN,NaN,653104.0,111620.0,47436.0,111002.0,119297.0,97289.0,...,3089.0,759.0,473768.0,179336.0,324854.0,243624.0,11574.0,23116.0,10712.0,39224.0

In [128]:
## missing data check (1 point)

In [154]:
eviction_cols = eviction.columns
for col in eviction_cols:
    slice = eviction[str(col)]
    if slice.hasnans:
        print(f"{str(col)} " + f"({len(slice.unique())})" + ": " + str(slice.unique()))

racial_majority (5): ['White' 'Other' 'Latinx' nan 'Black']
filings_avg (2775): [ 5.33333333  9.          5.66666667 ... 79.25       59.75
 69.25      ]

In [158]:
# we can drop filings_avg since we are calculating the average for the year later
# we can drop racial_majority since we can supplement it with census data if need be
eviction = eviction.drop(["filings_avg", "racial_majority"], axis=1)
eviction

                   city          type    month  filings_2020
0       Albuquerque, NM  Census Tract  01/2020             8
1       Albuquerque, NM  Census Tract  02/2020            14
2       Albuquerque, NM  Census Tract  03/2020            10
3       Albuquerque, NM  Census Tract  04/2020             5
4       Albuquerque, NM  Census Tract  05/2020             0
...                 ...           ...      ...           ...
598451   Wilmington, DE  Census Tract  04/2024             1
598452   Wilmington, DE  Census Tract  05/2024             9
598453   Wilmington, DE  Census Tract  06/2024             3
598454   Wilmington, DE  Census Tract  07/2024             5
598455   Wilmington, DE  Census Tract  08/2024             1

[598456 rows x 4 columns]

In [129]:
# replacing NaN with zero because values are not categorical
PIT_sliced = PIT_sliced.fillna(0)
PIT_sliced

,CoC Number,CoC Name,CoC Category,Count Types,Overall Homeless,Overall Homeless - Under 18,Overall Homeless - Age 18 to 24,Overall Homeless - Age 25 to 34,Overall Homeless - Age 35 to 44,Overall Homeless - Age 45 to 54,...,Overall Homeless - Gender that is not Singularly Female or Male,Overall Homeless - Gender Questioning,Overall Homeless - Non-Hispanic/Non-Latin(o)(a)(x),Overall Homeless - Hispanic/Latin(o)(a)(x),Overall Homeless - White,"Overall Homeless - Black, African American, or African",Overall Homeless - Asian or Asian American,"Overall Homeless - American Indian, Alaska Native, or Indigenous",Overall Homeless - Native Hawaiian or Other Pacific Islander,Overall Homeless - Multiple Races
0,AK-500,Anchorage CoC,Other Largely Urban CoC,Sheltered and Unsheltered Count,1760.0,185.0,161.0,377.0,419.0,315.0,...,3.0,2.0,1638.0,122.0,480.0,156.0,28.0,755.0,83.0,258.0
1,AK-501,Alaska Balance of State CoC,Largely Rural CoC,Sheltered and Unsheltered Count,854.0,176.0,66.0,124.0,190.0,144.0,...,2.0,0.0,717.0,137.0,316.0,25.0,10.0,396.0,16.0,91.0
2,AL-500,"Birmingham/Jefferson, St. Clair, Shelby Counti...",Largely Suburban CoC,Sheltered and Unsheltered Count,847.0,67.0,42.0,127.0,182.0,180.0,...,1.0,0.0,822.0,25.0,295.0,518.0,1.0,14.0,2.0,17.0
3,AL-501,Mobile City & County/Baldwin County CoC,Other Largely Urban CoC,Sheltered and Unsheltered Count,670.0,110.0,19.0,78.0,156.0,120.0,...,2.0,0.0,655.0,15.0,281.0,351.0,2.0,11.0,6.0,19.0
4,AL-502,Florence/Northwest Alabama CoC,Largely Rural CoC,Sheltered and Unsheltered Count,195.0,63.0,9.0,42.0,36.0,23.0,...,0.0,0.0,186.0,9.0,130.0,48.0,0.0,2.0,0.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,WV-501,"Huntington/Cabell, Wayne Counties CoC",Largely Rural CoC,Sheltered and Unsheltered Count,244.0,18.0,19.0,51.0,72.0,53.0,...,0.0,0.0,238.0,6.0,206.0,19.0,2.0,3.0,1.0,13.0
382,WV-503,"Charleston/Kanawha, Putnam, Boone, Clay Counti...",Largely Suburban CoC,Sheltered and Unsheltered Count,293.0,20.0,40.0,53.0,66.0,72.0,...,0.0,0.0,292.0,1.0,230.0,42.0,0.0,0.0,0.0,21.0
383,WV-508,West Virginia Balance of State CoC,Largely Rural CoC,Sheltered and Unsheltered Count,766.0,50.0,74.0,168.0,209.0,148.0,...,5.0,4.0,750.0,16.0,691.0,59.0,0.0,4.0,1.0,11.0
384,WY-500,Wyoming Statewide CoC,Largely Rural CoC,Sheltered and Unsheltered Count,532.0,37.0,62.0,73.0,116.0,126.0,...,1.0,1.0,462.0,70.0,419.0,47.0,14.0,22.0,2.0,28.0
385,0,Total,0,0,653104.0,111620.0,47436.0,111002.0,119297.0,97289.0,...,3089.0,759.0,473768.0,179336.0,324854.0,243624.0,11574.0,23116.0,10712.0,39224.0

In [130]:
## Outlier check (1 point)

In [131]:
PIT_sliced.describe()

,Overall Homeless,Overall Homeless - Under 18,Overall Homeless - Age 18 to 24,Overall Homeless - Age 25 to 34,Overall Homeless - Age 35 to 44,Overall Homeless - Age 45 to 54,Overall Homeless - Age 55 to 64,Overall Homeless - Over 64,Overall Homeless - Female,Overall Homeless - Male,...,Overall Homeless - Gender that is not Singularly Female or Male,Overall Homeless - Gender Questioning,Overall Homeless - Non-Hispanic/Non-Latin(o)(a)(x),Overall Homeless - Hispanic/Latin(o)(a)(x),Overall Homeless - White,"Overall Homeless - Black, African American, or African",Overall Homeless - Asian or Asian American,"Overall Homeless - American Indian, Alaska Native, or Indigenous",Overall Homeless - Native Hawaiian or Other Pacific Islander,Overall Homeless - Multiple Races
count,386.000000,386.000000,386.000000,386.000000,386.000000,386.000000,386.000000,386.000000,386.000000,386.000000,...,386.000000,386.000000,386.000000,386.000000,386.000000,386.000000,386.000000,386.000000,386.000000,386.000000
mean,3383.958549,578.341969,245.782383,575.139896,618.119171,504.088083,469.958549,191.735751,1295.383420,2047.461140,...,16.005181,3.932642,2454.756477,929.202073,1683.181347,1262.300518,59.968912,119.772021,55.502591,203.233161
std,33685.071349,5823.125602,2462.595873,5768.223300,6160.189569,5011.779805,4672.930049,1905.210525,12896.424039,20384.594635,...,160.203799,39.295757,24261.167747,9548.451413,16621.001323,12835.350265,622.043861,1188.048176,561.061296,2022.758577
min,55.000000,1.000000,2.000000,5.000000,0.000000,0.000000,0.000000,0.000000,20.000000,23.000000,...,0.000000,0.000000,17.000000,0.000000,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,337.000000,53.000000,21.000000,52.250000,60.000000,48.000000,41.250000,16.000000,134.250000,190.500000,...,0.000000,0.000000,292.000000,23.250000,156.750000,70.000000,1.000000,2.000000,0.000000,13.000000
50%,656.500000,109.500000,44.000000,107.000000,120.500000,99.500000,89.500000,36.000000,255.000000,389.000000,...,2.000000,0.000000,565.500000,68.000000,344.000000,177.500000,4.000000,10.000000,2.000000,28.000000
75%,1549.250000,226.750000,102.000000,244.500000,285.500000,233.000000,216.750000,88.500000,569.500000,890.500000,...,6.000000,1.000000,1197.000000,221.750000,821.000000,436.000000,11.000000,35.750000,9.000000,75.750000
max,653104.000000,111620.000000,47436.000000,111002.000000,119297.000000,97289.000000,90702.000000,37005.000000,250009.000000,395160.000000,...,3089.000000,759.000000,473768.000000,179336.000000,324854.000000,243624.000000,11574.000000,23116.000000,10712.000000,39224.000000

In [132]:
# the max seems quite high for overall homeless
max = PIT_sliced["Overall Homeless"].idxmax()
PIT_sliced.loc[[max]]

,CoC Number,CoC Name,CoC Category,Count Types,Overall Homeless,Overall Homeless - Under 18,Overall Homeless - Age 18 to 24,Overall Homeless - Age 25 to 34,Overall Homeless - Age 35 to 44,Overall Homeless - Age 45 to 54,...,Overall Homeless - Gender that is not Singularly Female or Male,Overall Homeless - Gender Questioning,Overall Homeless - Non-Hispanic/Non-Latin(o)(a)(x),Overall Homeless - Hispanic/Latin(o)(a)(x),Overall Homeless - White,"Overall Homeless - Black, African American, or African",Overall Homeless - Asian or Asian American,"Overall Homeless - American Indian, Alaska Native, or Indigenous",Overall Homeless - Native Hawaiian or Other Pacific Islander,Overall Homeless - Multiple Races
385,0,Total,0,0,653104.0,111620.0,47436.0,111002.0,119297.0,97289.0,...,3089.0,759.0,473768.0,179336.0,324854.0,243624.0,11574.0,23116.0,10712.0,39224.0

In [133]:
# these are totals, so it's okay to remove
PIT_sliced = PIT_sliced.drop(max)
PIT_sliced.describe()

,Overall Homeless,Overall Homeless - Under 18,Overall Homeless - Age 18 to 24,Overall Homeless - Age 25 to 34,Overall Homeless - Age 35 to 44,Overall Homeless - Age 45 to 54,Overall Homeless - Age 55 to 64,Overall Homeless - Over 64,Overall Homeless - Female,Overall Homeless - Male,...,Overall Homeless - Gender that is not Singularly Female or Male,Overall Homeless - Gender Questioning,Overall Homeless - Non-Hispanic/Non-Latin(o)(a)(x),Overall Homeless - Hispanic/Latin(o)(a)(x),Overall Homeless - White,"Overall Homeless - Black, African American, or African",Overall Homeless - Asian or Asian American,"Overall Homeless - American Indian, Alaska Native, or Indigenous",Overall Homeless - Native Hawaiian or Other Pacific Islander,Overall Homeless - Multiple Races
count,385.000000,385.000000,385.00000,385.000000,385.000000,385.000000,385.000000,385.000000,385.000000,385.000000,...,385.000000,385.000000,385.000000,385.000000,385.000000,385.000000,385.000000,385.000000,385.000000,385.000000
mean,1696.374026,289.922078,123.21039,288.316883,309.862338,252.698701,235.589610,96.116883,649.374026,1026.389610,...,8.023377,1.971429,1230.566234,465.807792,843.776623,632.789610,30.062338,60.041558,27.823377,101.880519
std,5955.731326,1343.006959,515.60255,1233.336451,1128.114723,852.013239,797.125492,317.653276,2289.696403,3623.145956,...,32.806995,7.721164,3186.678681,2882.200067,2071.985499,3436.753939,204.468891,185.485240,138.238208,356.021559
min,55.000000,1.000000,2.00000,5.000000,0.000000,0.000000,0.000000,0.000000,20.000000,23.000000,...,0.000000,0.000000,17.000000,0.000000,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,337.000000,53.000000,21.00000,52.000000,60.000000,48.000000,41.000000,16.000000,134.000000,190.000000,...,0.000000,0.000000,292.000000,23.000000,156.000000,70.000000,1.000000,2.000000,0.000000,13.000000
50%,653.000000,109.000000,44.00000,107.000000,120.000000,99.000000,89.000000,36.000000,254.000000,389.000000,...,2.000000,0.000000,565.000000,68.000000,342.000000,174.000000,4.000000,10.000000,2.000000,28.000000
75%,1532.000000,226.000000,102.00000,240.000000,284.000000,230.000000,216.000000,87.000000,568.000000,880.000000,...,6.000000,1.000000,1194.000000,221.000000,809.000000,436.000000,11.000000,35.000000,9.000000,75.000000
max,88025.000000,25200.000000,9130.00000,19577.000000,16597.000000,13475.000000,12841.000000,4721.000000,37788.000000,49650.000000,...,570.000000,110.000000,41029.000000,46996.000000,28624.000000,59292.000000,3773.000000,2700.000000,1683.000000,4888.000000

In [162]:
eviction.describe()

        filings_2020
count  598456.000000
mean        4.744833
std        86.956711
min         0.000000
25%         0.000000
50%         1.000000
75%         3.000000
max     14556.000000

In [142]:
max = eviction["filings_2020"].idxmax()
eviction.loc[[max]] # this makes sense, no need to remove

,city,type,racial_majority,month,filings_2020,filings_avg
460830,"New York, NY",Zip Code,NaN,01/2020,14556,3.333333

In [135]:
## data merging (1 point)

In [197]:
# remove data from eviction that is not from 2023
eviction_2023 = eviction[eviction['month'].str.contains('2023')]
eviction_2023["month"].unique()

array(['01/2023', '02/2023', '03/2023', '04/2023', '05/2023', '06/2023',
       '07/2023', '08/2023', '09/2023', '10/2023', '11/2023', '12/2023'],
      dtype=object)

In [221]:
eviction_city = eviction_2023.groupby("city").mean(numeric_only=True)
eviction_city = eviction_city.reset_index()
eviction_city['state'] = eviction_city['city'].str[-2:]
eviction_city

                          city  filings_2020 state
0              Albuquerque, NM      4.560734    NM
1                   Austin, TX      8.560688    TX
2                   Boston, MA      2.673019    MA
3               Bridgeport, CT      1.642178    CT
4               Charleston, SC      8.527500    SC
5               Cincinnati, OH      4.695301    OH
6                Cleveland, OH      3.372671    OH
7                 Columbus, OH      6.018744    OH
8                   Dallas, TX      4.892802    TX
9               Fort Worth, TX      5.956454    TX
10              Ft. Lauderdale      3.701754    le
11             Gainesville, FL      3.346045    FL
12              Greenville, SC     10.136425    SC
13                Hartford, CT      2.340749    CT
14                 Houston, TX      5.739814    TX
15            Indianapolis, IN      8.988517    IN
16            Jacksonville, FL      5.681818    FL
17             Kansas City, MO      3.308114    MO
18               Las Vegas, NV      8.877954    NV
19                 Memphis, TN     10.232667    TN
20                       Miami      2.313795    mi
21               Milwaukee, WI      3.814631    WI
22  Minneapolis-Saint Paul, MN      2.767266    MN
23               Nashville, TN     19.700893    TN
24             New Orleans, LA      2.615489    LA
25                New York, NY     36.728682    NY
26                  Palm Beach      2.003788    ch
27            Philadelphia, PA      2.681133    PA
28                 Phoenix, AZ     35.612973    AZ
29              Pittsburgh, PA      7.492009    PA
30              Providence, RI      3.785959    RI
31                Richmond, VA     42.004167    VA
32              South Bend, IN      2.735944    IN
33                St Louis, MO      3.816227    MO
34                   Tampa, FL      2.764184    FL
35              Wilmington, DE      4.833904    DE

UFuncTypeError: ufunc 'add' did not contain a loop with signature matching types (dtype('float64'), dtype('<U1')) -> None

In [173]:
PIT_sliced

,CoC Number,CoC Name,CoC Category,Count Types,Overall Homeless,Overall Homeless - Under 18,Overall Homeless - Age 18 to 24,Overall Homeless - Age 25 to 34,Overall Homeless - Age 35 to 44,Overall Homeless - Age 45 to 54,...,Overall Homeless - Gender that is not Singularly Female or Male,Overall Homeless - Gender Questioning,Overall Homeless - Non-Hispanic/Non-Latin(o)(a)(x),Overall Homeless - Hispanic/Latin(o)(a)(x),Overall Homeless - White,"Overall Homeless - Black, African American, or African",Overall Homeless - Asian or Asian American,"Overall Homeless - American Indian, Alaska Native, or Indigenous",Overall Homeless - Native Hawaiian or Other Pacific Islander,Overall Homeless - Multiple Races
0,AK-500,Anchorage CoC,Other Largely Urban CoC,Sheltered and Unsheltered Count,1760.0,185.0,161.0,377.0,419.0,315.0,...,3.0,2.0,1638.0,122.0,480.0,156.0,28.0,755.0,83.0,258.0
1,AK-501,Alaska Balance of State CoC,Largely Rural CoC,Sheltered and Unsheltered Count,854.0,176.0,66.0,124.0,190.0,144.0,...,2.0,0.0,717.0,137.0,316.0,25.0,10.0,396.0,16.0,91.0
2,AL-500,"Birmingham/Jefferson, St. Clair, Shelby Counti...",Largely Suburban CoC,Sheltered and Unsheltered Count,847.0,67.0,42.0,127.0,182.0,180.0,...,1.0,0.0,822.0,25.0,295.0,518.0,1.0,14.0,2.0,17.0
3,AL-501,Mobile City & County/Baldwin County CoC,Other Largely Urban CoC,Sheltered and Unsheltered Count,670.0,110.0,19.0,78.0,156.0,120.0,...,2.0,0.0,655.0,15.0,281.0,351.0,2.0,11.0,6.0,19.0
4,AL-502,Florence/Northwest Alabama CoC,Largely Rural CoC,Sheltered and Unsheltered Count,195.0,63.0,9.0,42.0,36.0,23.0,...,0.0,0.0,186.0,9.0,130.0,48.0,0.0,2.0,0.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,WV-500,"Wheeling, Weirton Area CoC",Largely Rural CoC,Sheltered and Unsheltered Count,113.0,37.0,3.0,23.0,24.0,16.0,...,0.0,0.0,113.0,0.0,83.0,17.0,0.0,4.0,0.0,9.0
381,WV-501,"Huntington/Cabell, Wayne Counties CoC",Largely Rural CoC,Sheltered and Unsheltered Count,244.0,18.0,19.0,51.0,72.0,53.0,...,0.0,0.0,238.0,6.0,206.0,19.0,2.0,3.0,1.0,13.0
382,WV-503,"Charleston/Kanawha, Putnam, Boone, Clay Counti...",Largely Suburban CoC,Sheltered and Unsheltered Count,293.0,20.0,40.0,53.0,66.0,72.0,...,0.0,0.0,292.0,1.0,230.0,42.0,0.0,0.0,0.0,21.0
383,WV-508,West Virginia Balance of State CoC,Largely Rural CoC,Sheltered and Unsheltered Count,766.0,50.0,74.0,168.0,209.0,148.0,...,5.0,4.0,750.0,16.0,691.0,59.0,0.0,4.0,1.0,11.0
384,WY-500,Wyoming Statewide CoC,Largely Rural CoC,Sheltered and Unsheltered Count,532.0,37.0,62.0,73.0,116.0,126.0,...,1.0,1.0,462.0,70.0,419.0,47.0,14.0,22.0,2.0,28.0

0                                          Anchorage CoC
1                            Alaska Balance of State CoC
2      Birmingham/Jefferson, St. Clair, Shelby Counti...
3                Mobile City & County/Baldwin County CoC
4                         Florence/Northwest Alabama CoC
                             ...
380                           Wheeling, Weirton Area CoC
381                Huntington/Cabell, Wayne Counties CoC
382    Charleston/Kanawha, Putnam, Boone, Clay Counti...
383                   West Virginia Balance of State CoC
384                                Wyoming Statewide CoC
Name: CoC Name, Length: 385, dtype: object

In [189]:
lst = [city for city in eviction_city.index if city in PIT_sliced["CoC Name"].values]
len(lst)

0

In [138]:
## data transformation, normalization, and cleaning (1 point)

In [139]:
## Exploratory data visualization (1 point)

## Part 2: Answer questions from the proposals (8 points)

Each plot should be followed by a paragraph of explanation and observation.

### Creator: FIRSTNAME LASTNAME

#### Question:

#### Answer:

### Interpreter 1: FIRSTNAME LASTNAME

#### Question:

#### Answer:

### Interpreter 2: FIRSTNAME LASTNAME

#### Question:

#### Answer:

In [140]:
## Add more cells if your group has more than two interpreters

### Deliverer: FIRSTNAME LASTNAME

#### Question:

#### Answer:

## Part 3: Follow-up Questions (4 points)

### New Questions Based Off Initial Investigation

- Q1: WRITE_QUESTION_HERE
- Q2: WRITE_QUESTION_HERE

## Summary (2 points)

GIVE A 2 PARAGRAPH SUMMARY. 

PARAGRAPH 1 SHOULD DESCRIBE WHAT YOU LEARNED ABOUT YOUR DATA FROM INVESTIGATING THE INITIAL QUESTIONS. DID YOU FIND ANYTHING UNUSUAL IN YOUR DATA? DID ANYTHING SURPRISE YOU? WHICH OF THE INITIAL QUESTIONS WERE HELPFUL IN LEADING YOU TO MORE QUESTIONS?

PARAGRAPH 2 SHOULD SUMMARIZE WHAT YOU LEARNED FROM INVESTIGATING THE FOLLOW-UP QUESTIONS. WHY ARE THESE FOLLOW-UP QUESTIONS INTERESTING FOR INVESTIGATION? DESCRIBE THE TABLES/FIGURES YOU USED TO EXPLORE ANSWERS TO THESE FOLLOW-UP QUESTIONS? WHAT DID YOU LEARN FROM THE TABLES/FIGURES REGARDING THE FOLLOW-UP QUESTIONS YOU PROPOSED?