# STOR 320: Introduction to Data Science
## 2024 Fall
## Project Proposal Group 7

## Project Roles

- **Creator:** Ivy Nangalia, [ivyn@unc.edu](ivyn@unc.edu), 730670491
- **Interpreter:** Alisha Nazir, [anazir@unc.edu](anazir@unc.edu), 730824666
- **Interpreter:** Kharan Joshi, [kharanj@unc.edu](kharanj@unc.edu), 730569817
- **Deliverer:** Ximing Sun, [ximsun@unc.edu](ximsun@unc.edu), 730824666

## Datasets

[2007 - 2023 Point-in-Time Estimates by CoC](https://www.huduser.gov/portal/datasets/ahar/2023-ahar-part-1-pit-estimates-of-homelessness-in-the-us.html)  
- Plan to download

[Chapel Hill Census](https://www.census.gov/quickfacts/fact/table/chapelhilltownnorthcarolina/LFE041222)
- Plan to download

[North Carolina Census](https://www.census.gov/quickfacts/fact/table/NC/HCN010217)
- Plan to download

[Eviction Data across America Per Month](https://evictionlab.org/eviction-tracking/get-the-data/)
- Plan to download

## Initial Questions (At least 10 questions)

- **Question 1:** What demographics of people are more likely to be homeless today?
- **Question 2:** How have the demographics of the homeless population changed over time and are there notable changes in the number of homeless people in specific over time?
- **Question 3:** What are the primary factors correlated with homelessness in Chapel Hill/NC and how do they vary by race, gender, etc. Do these differ from nationwide trends?
- **Question 4:** Is there a relationship between eviction rates and race/gender?
- **Question 5:** How do individual CoCs compare in terms of change in homeless counts over the years?
- **Question 6:** What trends do we see in racial segregation?
- **Question 7:** How has the demographics of the homeless population changed over time and are there notable changes in the number of homeless in specific over time?
- **Question 8:** Can we predict future trends in homelessness count based on historical data? What kind of model would best suit that?
- **Question 9:** How do the demographics of homelessness compare to the general population?
- **Question 10:** How has COVID affected housing stability for different demographic groups?

In [18]:
# importing and accessing datasets
import pandas as pd

PIT_2023 = pd.read_excel('PITCOC.xlsb', engine='pyxlsb', sheet_name="2023") 
eviction = pd.read_csv('eviction_2020_2024.csv')

In [19]:
PIT_2023

,CoC Number,CoC Name,CoC Category,Count Types,Overall Homeless,Overall Homeless - Under 18,Overall Homeless - Age 18 to 24,Overall Homeless - Age 25 to 34,Overall Homeless - Age 35 to 44,Overall Homeless - Age 45 to 54,...,Overall Homeless Parenting Youth Age 18-24,Sheltered ES Homeless Parenting Youth Age 18-24,Sheltered TH Homeless Parenting Youth Age 18-24,Sheltered Total Homeless Parenting Youth Age 18-24,Unsheltered Homeless Parenting Youth Age 18-24,Overall Homeless Children of Parenting Youth,Sheltered ES Homeless Children of Parenting Youth,Sheltered TH Homeless Children of Parenting Youth,Sheltered Total Homeless Children of Parenting Youth,Unsheltered Homeless Children of Parenting Youth
0,AK-500,Anchorage CoC,Other Largely Urban CoC,Sheltered and Unsheltered Count,1760.0,185.0,161.0,377.0,419.0,315.0,...,10.0,5.0,5.0,10.0,0.0,10.0,5.0,5.0,10.0,0.0
1,AK-501,Alaska Balance of State CoC,Largely Rural CoC,Sheltered and Unsheltered Count,854.0,176.0,66.0,124.0,190.0,144.0,...,8.0,8.0,0.0,8.0,0.0,7.0,7.0,0.0,7.0,0.0
2,AL-500,"Birmingham/Jefferson, St. Clair, Shelby Counti...",Largely Suburban CoC,Sheltered and Unsheltered Count,847.0,67.0,42.0,127.0,182.0,180.0,...,2.0,1.0,1.0,2.0,0.0,2.0,1.0,1.0,2.0,0.0
3,AL-501,Mobile City & County/Baldwin County CoC,Other Largely Urban CoC,Sheltered and Unsheltered Count,670.0,110.0,19.0,78.0,156.0,120.0,...,2.0,2.0,0.0,2.0,0.0,2.0,2.0,0.0,2.0,0.0
4,AL-502,Florence/Northwest Alabama CoC,Largely Rural CoC,Sheltered and Unsheltered Count,195.0,63.0,9.0,42.0,36.0,23.0,...,4.0,2.0,0.0,2.0,2.0,4.0,2.0,0.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
384,WY-500,Wyoming Statewide CoC,Largely Rural CoC,Sheltered and Unsheltered Count,532.0,37.0,62.0,73.0,116.0,126.0,...,3.0,2.0,1.0,3.0,0.0,4.0,3.0,1.0,4.0,0.0
385,NaN,Total,NaN,NaN,653104.0,111620.0,47436.0,111002.0,119297.0,97289.0,...,7130.0,4954.0,1558.0,6512.0,618.0,8469.0,5909.0,1956.0,7865.0,604.0
386,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
387,a MO-604 covers territory in both Missouri and...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
388,* File does not contain the imputed ages for p...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
eviction

,city,type,GEOID,racial_majority,month,filings_2020,filings_avg,last_updated,xcourtcofips
0,"Albuquerque, NM",Census Tract,35001000107,White,01/2020,8,5.333333,2024-08-10,NaN
1,"Albuquerque, NM",Census Tract,35001000107,White,02/2020,14,9.000000,2024-08-10,NaN
2,"Albuquerque, NM",Census Tract,35001000107,White,03/2020,10,5.666667,2024-08-10,NaN
3,"Albuquerque, NM",Census Tract,35001000107,White,04/2020,5,8.333333,2024-08-10,NaN
4,"Albuquerque, NM",Census Tract,35001000107,White,05/2020,0,6.666667,2024-08-10,NaN
...,...,...,...,...,...,...,...,...,...
598451,"Wilmington, DE",Census Tract,sealed,NaN,04/2024,1,7.000000,2024-08-10,NaN
598452,"Wilmington, DE",Census Tract,sealed,NaN,05/2024,9,7.250000,2024-08-10,NaN
598453,"Wilmington, DE",Census Tract,sealed,NaN,06/2024,3,4.750000,2024-08-10,NaN
598454,"Wilmington, DE",Census Tract,sealed,NaN,07/2024,5,5.500000,2024-08-10,NaN
598455,"Wilmington, DE",Census Tract,sealed,NaN,08/2024,1,1.000000,2024-08-10,NaN

For the census data, we 'll just need to import individual values as variables rather than the whole dataset or scrape it. There's no standardized formatting for any of the data. We could, for example, input specific values and run statistical tests on them.